*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    background-color: #F57D2E;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: rgb(48, 44, 44);
    scroll-behavior: smooth;
    line-height: 1.6;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

a :hover{
    color: #FF5F00;
}

video{
    object-fit: contain;
    
}

main {
    background-image: url(../images/star/drone-photo-S4O.jpg);
    background-size: cover;
    background-position: center;
}


  
.header{
    position: relative;
    height: 100vh;
    background: radial-gradient( rgba(25, 27, 21, 0.493),#ff933b ), url(../images/star/Upcoming-landing-page-image.jpeg);
    background-size: cover;
    background-position: center;
    color: white;
}
.logo-container {
    position: absolute;
    top: 40px;
    left: 40px;
}
    
.landing-page-social-media-logo{
    text-decoration: none;
    float: right;
    margin: 30px;
    font-size: 30px;
    text-align: center;
    color: white;
}
.landing-page-logo{
    width: 30%;
    height: 30%;
}
.heading {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.heading-main {
    font-size: 60px;
    font-weight: 200;
    letter-spacing: 13.8px;
    color: black;
    font-family: sans-serif;
    animation-name: animation-Soccer4Other;
    animation-duration: 4s;
}
.heading-main:hover{
    color: #FF5F00;
    size: 110%;
}
.heading-subsection {
    font-size: 18px;
    font-weight: 450;
    letter-spacing: 2px;
    color: black;
    font-family: sans-serif;
    animation-name: animation-Soccer4Other;
    animation-duration: 4s;
}

.heading-subsection:hover{
    color: #FF5F00;
    size: 110%;
    transform: translate();
}

.scroll-container{
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translate(-50% , -50%);
    color: black;
}
.scroll-container :hover{
    color: #FF5F00;
    size: 110%;
}   
.icon-container{
    text-align: center;
}
    
@keyframes animation-Soccer4Other {
    0%{
    color: #ffffff;
    transform: translate(-100,0);
    }
    25%{
    color: #ff923b;
    }
    
    100%{
    color: black;
    transform: translate(0,0);
    }
}
  











.navbar{
    border-bottom: 1px black inset;
    background-color: #F57D2E;
    overflow: hidden;
    text-align: center;
    letter-spacing: 2px;
}
  
.navbar a{
    float: left;
    display: block;
    color: rgb(39, 38, 38);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}
  
.navbar a:hover{
    color: #ff923b;
    background-color: rgb(39, 38, 38);
    transition: background-color 1.2s;
}
  
.facebook-icon-navbar{
    position: absolute;
    right: 25px;
    margin-left: 20px;
}















.Upcoming-Main{
    padding-top: 15px;
    border-top: solid black 2px;
}






.Upcoming-video-outer-container{
    text-align: center;
    background-color: #FF5F00;
    width: fit-content;
    border-top: solid black 2px;
    padding: 15px 15px 30px 15px;
    position: relative;
    left: 25%;
}

.Upcoming-video-inner-container{
    max-width: 1400px;
    margin: auto;
}
















.Next-Event-container{
    text-align: center;
    border: solid 1px black;
    background-color: #FF5F00;
    color: beige;
    width: 25%;
    height: fit-content;
    padding: 15px;
    position: relative;
    left: 11%;
    bottom: 39px;
}


.Prizes{
    border: solid 1px black;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    background-color: #ff5f00;
    position: relative;
    left: 65%;
    top: -147px;
}

.prize-place1{
    font-size: 24px;
}

.prize-place2{
    font-size: 24px;
}

.prize-place3{
    font-size: 20px;
}








.scroll-container-2{
    position: relative;
    left: 50%;
    text-align: center;
    top: -79px;
    transform: translate(-50% , -50%);
    color: white;
    font-weight: 500;
    font-size: 43px;
}
.scroll-container-2 :hover{
    color: #FF5F00;
    background-color: rgb(39, 38, 38);
    transition: background-color 1.2s;
}   

.icon-container-2{
    text-align: center;
}











input[type="text"],
input[type="password"],
textarea,
select {
  font-size: 16px;
  width: 100%;
  padding: 15px;
  margin: 5px 0 16px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  background-color: #ddd;
  outline: none;
}

.contact-us-outer-container {
  background-image: linear-gradient(to right bottom, rgba(255, 94, 0, 0.712), #ff933ba4);
  color: white;
}

.contact-us-inner-container {
  max-width: 600px;
  margin: auto;
  padding: 40px 20px;
}

.radio-input {
  margin: 15px;
}
.select-box {
  height: 40px;
}

.submit-button {
  background-color: #050505;
  color:#FF5F00;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 16px;
  margin-top: 20px;
}

.submit-button:hover {
  opacity: 1;
}

.heading-container {
  text-align: center;
}

.contact-us-heading {
  font-size: 30px;
}

.field-container {
  margin: 10px;
}

.form-container {
  margin: 20px;
}





